<form action="/articles" method="post">
  <ul>
    <li>
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
    </li>
  </ul>
  <input type="submit" value="submit">
</form>
